<html lang="en">

    {{!-- <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tailwind CSS Simple Email Template Example </title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head> --}}
    <body>
        <div class="flex items-center justify-center min-h-screen p-5 bg-blue-100 min-w-screen">
            <div class="max-w-xl p-8 text-center text-gray-800 bg-white shadow-xl lg:max-w-3xl rounded-3xl lg:p-12">
                <h3 class="text-3xl font-semibold">Thanks for signing up with JobDekho!</h3>
                <p class="text-lg text-blue-900">We're happy you're here. Let's get your email address verified:</p>
                <div class="mt-4">
                    <p class="mt-4 text-sm">{{text}}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

